* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*=================WRAPPER===================*/
body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.maincontainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
}

/*==================HEADER===================*/
.user{
    margin-right: 35px;
}
.logo__text {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.long_a {
    text-decoration: none;
    color: #1F1728;
}

.Long:hover {
    color: #F39D35;
    transition: 0.1s;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    width: 100%;
    max-height: 74px;
}

.container__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    max-height: 74px;
    height: 100%;

}

.login {
    display: flex;
}

.logo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT {
    padding: 0 24px;
    font-family: 'Open Sans', sans-serif;
    width: 65px;
    color: #1F1728;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT1 {
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}

.header {
    position: relative;
    user-select: none;
    background-color: #FFFFFF;

}

/*=====================LOGIN================*/
.login {
    padding: 10px;
    align-items: center;
}

.Long {
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.back {
    background-color: #EDEDED;
    height: 100%;
    overflow: 0;
}

.inner {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100%;
}

.PRIVACY {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding-top: 74px;
}

.text_l {
    display: flex;
}

.Text_iiner {
    display: flex;
    padding-bottom: 25px;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
}

.text_Funds {
    padding-right: 71px;
    transition: color .2s linear;
    position: relative;
    padding-left: 35px;
    user-select: none;
    padding-bottom: 20px;
}

.text_Funds:after {
    content: "";
    height: 2px;
    width: 75%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
    display: flex;
    justify-content: center;
}

.text_Funds:hover {
    color: #FF8C00;
}

.text_Funds:hover:after {
    opacity: 1;
}

.text_trans {
    position: relative;
    user-select: none;
}

.text_trans:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.text_trans:hover {
    color: #FF8C00;
}

.text_trans:hover:after {
    opacity: 1;
}

.assets {
    padding-left: 90px;
    padding: 4px 0 4px 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 38%;
}

.ACTION {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
}

.men {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 25%;
}

.menu {
    width: 62%;
    display: flex;
}

/*================== NAVIG=====================*/
.navig {
    display: flex;
    text-align: center;
    padding-top: 20px;
    position: relative;
    padding-right: 160px;
}

.navig:after {
    content: '';
    position: absolute;
    left: 0;
    top: 140%;
    background-color: #CCCCCC;
    height: 1px;
    width: 100%;
}
/*================== Osn =====================*/
.osn{
    flex: 1 1 auto;
    display: flex;
}
.osn_middle{
    max-width: 550px;
    width: 100%;
    display: flex;
    align-items: center;
}
.osn_left,.osm_right{
    width: 33%;
}
.osn_middle_wrapper{
    margin: 75px 0 130px 0;
    padding: 40px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 4px;
}
/*================== Osn middle item ===================*/
.osn_middle_item_profile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}
.osn_middle_item_profile_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #272727;
}
.osn_middle_item_profile_log_out_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED4545;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin-right: 10px;
}
.osn_middle_item_profile_log_out_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.osn_middle_item_profile_log_out{
    display: flex;
}
.osn_middle_item_email{
    margin: 40px 0;
}
.osn_middle_item_email_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 19px;
    color: #8D8D8D;
    margin-bottom: 20px;
}
.osn_middle_item_email_value{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #272727;
}
.osn_middle_item_auth_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 19px;
    color: #8D8D8D;
    margin-bottom: 20px;
}
.osn_middle_item_auth{
    margin-bottom: 20px;
}
.osn_middle_item_auth_sub{
    display: flex;
}
.osn_middle_item_auth_sub_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #272727;
    margin-right: 45px;
}
.osn_middle_item_code{
    margin-bottom: 40px;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    border: 1px solid #A7A7A7;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5E5E5E;
    overflow: hidden;
}
.osn_middle_item_code_input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5E5E5E;
    border: none;
}
input {outline:none;}
.osn_middle_item_consend_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    color: #8D8D8D;
    margin-bottom: 20px;
}
.osn_middle_item_consend_sub_activation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.osn_middle_item_consend_sub{
    display: flex;
}
.osn_middle_item_consend_sub_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #272727;
    margin-right: 45px;
}
.osn_middle_item_changes{
    margin-top: 40px;
}
.osn_middle_item_changes_btm{
    width: 100%;
    background: #8442D6;
    border-radius: 4px;
    padding: 15px 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.osm_right_wrapper{
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    max-width: 265px;
    padding: 40px 30px;
}
input.switch[type="checkbox"]{
    position: relative;
    width: 36px;
    height: 18px;
    appearance: none;
    background: #E6E6E6;
    border-radius: 32px;
    transform: 0.5s;
}
input{
    cursor: pointer;
}
input.switch:checked[type="checkbox"]{
    background: #E6E6E6;
}
input.switch[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: #8442D6;
    transition: 0.5s;
}
input.switch:checked[type="checkbox"]::before{
    left: 20px;
    background: #8442D6;
}
.osm_right_wrapper_profile,.osm_right_wrapper_change{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #939393;
    cursor: pointer;
}
.osm_right_wrapper_profile{
    margin-bottom: 20px;
}
.active{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #8442D6;
}
.osm_right{
    padding-left: 30px;
    padding-top: 75px;
}
.osm_right_inner{
    width: 100%;
    border-radius: 4px;
    padding-right: 30px;
}
/*================== Osn middle wrapper first ===================*/
.osn_middle_wrapper_first{
    display: none;
    height: auto;
}
.osn_middle_wrapper_first.action{
    display: block;
}
.osn_middle_wrapper_second{
    display: none;
}
.osn_middle_wrapper_second.action{
    height: auto;
    display: block;
}
.osn_middle_item_password,.osn_middle_item_newpassword,.osn_middle_item_confilm,.osn_middle_item_code_optional{
    border-radius: 4px;
    width: 100%;
    height: 50px;
    border: 1px solid #A7A7A7;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5E5E5E;
    overflow: hidden;
}
.osn_middle_item_password_input,.osn_middle_item_newpassword_input,.osn_middle_item_confilm_input,.osn_middle_item_confilm_input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5E5E5E;
    border: none;
}
.osn_middle_item_save{
    margin-top: 40px;
}
.osn_middle_item_save_btm{
    width: 100%;
    background: #8442D6;
    border-radius: 4px;
    padding: 15px 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.osn_middle_item_title{
    padding-bottom: 20px;
    border-bottom: 1px solid #5E5E5E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #272727;
}
.osn_middle_item_password_title{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #272727;
    margin-bottom: 10px;
}
.osn_middle_item_newpassword_title,.osn_middle_item_confilm_title,.osn_middle_item_code_optional_title{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #272727;
    margin-bottom: 10px;
}
/*================== Footer ===================*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
}
.footer{
    width: 100%;
    max-width: 1240px;
    padding-top: 100px;
}
ul{
    list-style: none;
}
.footer_upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_section h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8442D6;
    margin-bottom: 15px;
}
.footer_section ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer_section ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #AAAAAA;
}
.second_h{
    margin-top: 10px;
}
.footer_lower{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.footer_lower:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #8D8D8D;
    height: 1px;
    width: 100%;
}
.footer_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8D8D8D;
    padding: 20px 0;
}




