* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*=================WRAPPER===================*/
body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #ededed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.maincontainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
}

/*==================HEADER===================*/
.user{
    margin-right: 35px;
}
.logo__text {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.long_a {
    text-decoration: none;
    color: #1F1728;
}

.Long:hover {
    color: #F39D35;
    transition: 0.1s;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    width: 100%;
    max-height: 74px;
}

.container__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    max-height: 74px;
    height: 100%;

}

.login {
    display: flex;
}

.logo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT {
    padding: 0 24px;
    font-family: 'Open Sans', sans-serif;
    width: 65px;
    color: #1F1728;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT1 {
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}

.header {
    position: relative;
    user-select: none;
    background-color: #FFFFFF;

}

/*=====================LOGIN================*/
.login {
    padding: 10px;
    align-items: center;
}

.Long {
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.back {
    background-color: #EDEDED;
    height: 100%;
    overflow: 0;
}

.inner {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100%;
}

.PRIVACY {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding-top: 74px;
}

.text_l {
    display: flex;
}

.Text_iiner {
    display: flex;
    padding-bottom: 25px;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
}

.text_Funds {
    padding-right: 71px;
    transition: color .2s linear;
    position: relative;
    padding-left: 35px;
    user-select: none;
    padding-bottom: 20px;
}

.text_Funds:after {
    content: "";
    height: 2px;
    width: 75%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
    display: flex;
    justify-content: center;
}

.text_Funds:hover {
    color: #FF8C00;
}

.text_Funds:hover:after {
    opacity: 1;
}

.text_trans {
    position: relative;
    user-select: none;
}

.text_trans:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.text_trans:hover {
    color: #FF8C00;
}

.text_trans:hover:after {
    opacity: 1;
}

.assets {
    padding-left: 90px;
    padding: 4px 0 4px 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 38%;
}

.ACTION {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
}

.men {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 25%;
}

.menu {
    width: 62%;
    display: flex;
}

/*================== NAVIG=====================*/
.navig {
    display: flex;
    text-align: center;
    padding-top: 20px;
    position: relative;
    padding-right: 160px;
}

.navig:after {
    content: '';
    position: absolute;
    left: 0;
    top: 140%;
    background-color: #CCCCCC;
    height: 1px;
    width: 100%;
}
/*================== Osn =====================*/
.osn{
    flex: 1 1 auto;
    display: flex;
}
.osn_middle{
    max-width: 550px;
    width: 100%;
    display: flex;
    align-items: center;
}
.osn_left,.osm_right{
    width: 33%;
}
.osn_middle_wrapper{
    width: 100%;
    height: 590px;
    background: #FFFFFF;
    border-radius: 4px;
}
/*================== Footer ===================*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
}
.footer{
    width: 100%;
    max-width: 1240px;
    padding-top: 100px;
}
ul{
    list-style: none;
}
.footer_upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_section h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8442D6;
    margin-bottom: 15px;
}
.footer_section ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer_section ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #AAAAAA;
}
.second_h{
    margin-top: 10px;
}
.footer_lower{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.footer_lower:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #8D8D8D;
    height: 1px;
    width: 100%;
}
.footer_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8D8D8D;
    padding: 20px 0;
}




