*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*==================HEADER===================*/
.logo__text{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size:21px;
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 35px;
    padding-right: 40px;
}
.header{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.container__inner{
    display:flex;
    justify-content: space-between;
    height: 100%;
}
.rad{
    border-radius: 4px;
}
.login{
    display:flex;
}
.logo a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT{
    padding: 0 24px;
    font-family: 'Open Sans';
    width: 65px;
    color: #1F1728; 
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT1{
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}
.header{
    user-select: none;
    background-color: #FFFFFF;
    
}
/*=====================LOGIN================*/
.moon2{
    display: flex;
    justify-content: space-between;
}
.longgj{
    font-weight: 700;
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    border-radius: 4px;
}
.sign_a{
    text-decoration: none;
    color:#8442D6;
}
.container_signin{
    text-align: center;
    padding-bottom: 42px;
}
.ab1{
    margin-top:30px;
    margin-bottom: 20px;
}
.longg{
    margin: 3px;

}
.longgj{
    color:#000000;
    text-decoration: none;
}
.longui{
    text-decoration: none;
    color:#ffffff;
}
.moon{
    padding: 5px;
}
.container_2{
    background-color: #EDEDED;
    display: flex;
    justify-content: center;

}
.tex1{
    font-weight: 600;
    font-size: 32px;
    margin-top: 80px;
}
.tex{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.tex2{
    color: #7C838E;
    font-size: 18px;
    margin-top: 10px;
    line-height:-10px;
}
.enter{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color:#272727;
}
.enter2{
    color:#7C838E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.containerz {
    padding: 16px;
    max-width: 470px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #A7A7A7;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
         background-color: #ddd;
         outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #8442D6;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid #A7A7A7;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
    margin-bottom: 50px;
}
.Sog{
    color: #7C838E;
    text-decoration: none;
}
.agree{
    color: #7C838E;
    text-decoration: none;
    font-size: 14px;
}

.ter{
    color:#8442D6;
}
.cheak{
    -webkit-appearance: none;
    position:absolute;
    -moz-appearance: none;
    appearance: none;
}
.Form__text{
    text-align: left;
    color:#5E5E5E;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.Form{
    position: relative;
}
.checkbox{
    user-select: none;
    margin-left:72px;
    max-width: 340px;
    width: 100%;
    
}
.kol1{
    margin:38px 72px;
}
.label{
    position: relative;
}
input.checkbox[type="checkbox"]{
    display: none;
}
.chexbox__inner{
    display: flex;
}
.label::before{
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #5E5E5E;
    vertical-align: middle;
    margin-left: -38px;
    margin-right: 30px;
    border-radius: 4px;
    position: absolute;
}
input[type="checkbox"]:checked + .label::before{
    content: url('');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../object/IMG/Agree.svg');
    background-color: #8442D6;
    position: absolute;
}
.Ter{
    color:#8442D6;
    text-decoration: none;
}
.password__label{
    position: relative;
}
.password__btn{
    position: absolute;
    right: 15px;
    bottom:32%;
}
/*================== Footer ===================*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 15px;
    margin-top: 50px;
}
.footer{
    width: 100%;
    max-width: 1240px;
}
ul{
    list-style: none;
}
.new__text__drop{
    color: #AAAAAA;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    text-transform: uppercase;
}
.footer_upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_section h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8442D6;
    margin-bottom: 15px;
}
.footer_section ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer_section ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #AAAAAA;
}
.footer_section{
    display: flex;
    flex-direction: column;
}
.second_h{
    margin-top: 10px;
}
.footer_lower{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.footer_lower:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #8D8D8D;
    height: 1px;
    width: 100%;
}
.footer_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8D8D8D;
    padding: 20px 0;
}










.footer_upper_adap{
    display: none;
}




/* Кнопка выпадающего списка */
.dropbtn1 {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px auto;
}

/* Кнопка выпадающего меню при наведении и фокусировке */

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown1 {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content1 {
    display: none;
    z-index: 1;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
    display: block;
}
.d_dotext2_a1{
    color:#FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}
.d_text1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #8442D6;
}
.myDropdown1df{
    text-align: left;

}
.d_dotext1 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 130px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}
.d_dotext21 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background: #00B74A;
    max-width: 310px;
    margin-left:70px;
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    border-radius: 16px;
}
.texxt21{
    margin-top: 35px;
}
.d_dotext1:after {
    content:'';
    background-color:#ffffff;
    height:10px;
    width:10px;
    left:40%;
    top:14px;
    left:100px;
    z-index: 999;
    border-radius: 5px;
}








/* Кнопка выпадающего списка */
.dropbtn2 {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px auto;
}

/* Кнопка выпадающего меню при наведении и фокусировке */

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown2 {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content2 {
    display: none;
    z-index: 1;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
    display: block;
}
.d_dotext2_a2{
    color:#FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}
.d_text2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #8442D6;
}

.d_dotext2 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 130px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    
}
.d_dotext22 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    max-width: 310px;
    margin-left:70px;
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    border-radius: 16px;
}
.texxt22{
    margin-top: 35px;
}
.d_dotext2:after {
    content:'';
    background-color:#ffffff;
    height:10px;
    position: absolute;
    width:10px;
    left:40%;
    top:14px;
    left:100px;
    z-index: 999;
    border-radius: 5px;
}

.footer_section_inner{
    display: flex;
    justify-content: space-between;
}
#Anna_ipolitovna2{
    display: none;
}
.Love{
    display: none;
}
#Anna_ipolitovna2.Love2{
    display: block;
}
#Anna_ipolitovna22{
    display: none;
}
#Anna_ipolitovna22.Love22{
    display: block;
}
.Love21{
    display: none; 
}
#Anna_ipolitovna32{
    display: none;
}
#Anna_ipolitovna32.Love32{
    display: block;
}
.Love31{
    display: none;
}
/* Кнопка выпадающего списка */
.dropbtn3 {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px auto;
}

/* Кнопка выпадающего меню при наведении и фокусировке */

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown3 {
    max-width: 1200px;
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
}
.Love{
    display: none;
}
/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content3 {
    display: none;
    z-index: 1;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
    display: block;
}
.d_dotext2_a3{
    color:#FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}
.d_text3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #8442D6;
}

.d_dotext3 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 130px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}
.d_dotext23 {
    font-style: normal;
    font-weight: 00;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background: #00B74A;
    max-width: 310px;
    margin-left:70px;
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    border-radius: 16px;
}
.texxt23{
    margin-top: 35px;
}
.d_dotext3:after {
    content:'';
    background-color:#ffffff;
    height:10px;
    position: absolute;
    width:10px;
    left:40%;
    top:14px;
    left:100px;
    z-index: 999;
    border-radius: 5px;
}
.dropdown1_inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


















/*=============BURGER==============*/
.zaktito{
    display: none;
}
.krestik_up{
    display: flex;
    justify-content: right;
    padding: 15px 15px 0 0;
}
.burger_section_2_log{
    color: #191023;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}
.burger_section_2_sig{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background: #8442D6;
    border-radius: 4px;
    padding:12px 130px;
    margin: 30px 15px 0 15px;
}
.burger_section_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.burger_section_3_text{
    color: #191023;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 19px;
}
.burger_section_3{
    padding-top:30px;
    border-bottom: 1px solid #33214A;
    margin: 0 15px;
}
.burger_section_3_text{
    padding: 15px 0 15px 0;
}
.wrapper2{
    display: none;
}
.logo_koillok{
    display: none;
}
.wrapper2.close{
    display: block;
}
.night_mode_btmf,.minimalistic{
    display: flex;
    align-items: center;
}
.night_mode_btm{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.minimalistic_img,.night_mode_btm_img{
    margin-right: 12px;
}
.minimalistic_text,.night_mode_text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #1F1728;
}
.night_mode_text{
    margin-right: 35px;
}
input.switch[type="checkbox"]{
    position: relative;
    width: 30px;
    height: 18px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 60px;
    transform: 0.5s;
}
input.switch:checked[type="checkbox"]{
    background-color: #8442D6;
}
input.switch[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #8442D6;
    transition: 0.5s;
}
input.switch:checked[type="checkbox"]::before{
    left: 15px;
    background: #fff;
}
.vipod_spisok_adap_item{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}
.vipod_spisok_adap_item_iner{
    display: flex;
}
.xaxol{
    display: none;
}
.xaxol2{
    display: none;
}