* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==================HEADER===================*/
.logo__text {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 35px;
    padding-right: 40px;
}

.header {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.container__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1920px;
}

.rad {
    border-radius: 4px;
}

.login {
    display: flex;
}

.logo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT {
    padding: 0 24px;
    font-family: 'Open Sans';
    width: 65px;
    color: #1F1728;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT1 {
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}

.header {
    user-select: none;
    background-color: #FFFFFF;

}

.moon_ava {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ava {
    padding-right: 35px;
}

/*==============TEXT==================*/
.textick {
    background-color: #FFFFFF;
    position: relative;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 12px 0px rgba(34, 60, 80, 0.2);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.back {
    background-color: #EDEDED;
    top: 0;
    left: 0;
    overflow: auto;
}

.inner {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    max-height: 1500px;
}

.PRIVACY {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding-top: 74px;
}

.text_l {
    display: flex;
}

.Text_iiner {
    display: flex;
    padding-bottom: 25px;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
}

.text_Funds {
    padding-right: 71px;
    transition: color .2s linear;
    position: relative;
    padding-left: 35px;
    user-select: none;
    padding-bottom: 20px;
}

.text_Funds:after {
    content: "";
    height: 2px;
    width: 75%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
    display: flex;
    justify-content: center;
}

.text_Funds:hover {
    color: #FF8C00;
}

.text_Funds:hover:after {
    opacity: 1;
}

.text_trans {
    position: relative;
    user-select: none;
}

.text_trans:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FF8C00;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.text_trans:hover {
    color: #FF8C00;
}

.text_trans:hover:after {
    opacity: 1;
}

.assets {
    padding-left: 90px;
    padding: 4px 0 4px 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 38%;
}

.ACTION {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
}

.men {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #8D8D8D;
    width: 25%;
}

.menu {
    width: 62%;
    display: flex;
}

/*================== NAVIG=====================*/
.navig {
    display: flex;
    text-align: center;
    padding-top: 20px;
    position: relative;
    padding-right: 160px;
}

.navig:after {
    content: '';
    position: absolute;
    left: 0;
    top: 140%;
    background-color: #CCCCCC;
    height: 1px;
    width: 100%;
}

/*==================SONOVONOE==================*/
.BIT {
    margin-left: 40px;
    width: 38%;
}

.bit_p {
    padding-left: 30px;
}

.koi {
    padding-top: 40px;
    padding-right: 60px;
    display: flex;
}

.znag {
    display: flex;
    width: 62%;
}

.znah {
    width: 25%;
    text-align: center;
}

.znah_a {
    display: flex;
}

.znah_item {
    width: 50%;
}

.Esti {
    font-family: 'Roboto', sans-serif;
    color: #1C1C1C;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}