*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*=================WRAPPER===================*/
body{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}
.maincontainer{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto auto;
    flex: 1 1 auto;
}
/*==================HEADER===================*/

.logo__text{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size:21px;
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.long_a{
    text-decoration: none;
    color:#1F1728;
}
.Long:hover{
    color: #F39D35;
    transition: 0.1s;
}
.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    width: 100%;
    max-height: 74px;
}
.container__inner{
    display:flex;
    justify-content: space-between;
    max-height: 74px;
    height: 100%;
}
.login{
    display:flex;
}
.logo a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT{
    padding: 0 24px;
    font-family: 'Open Sans', sans-serif;
    width: 65px;
    color: #1F1728; 
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT1{
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}
.header{
    position: relative;
    user-select: none;
    background-color: #FFFFFF;
    
}
/*=====================LOGIN================*/
.login{
    padding: 10px;
    align-items: center;
}
.Long{
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 0 20px;
    text-decoration: none;
    color:#1F1728;
}
.Sing{
    font-weight: 700;
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    border-radius: 4px;
}
.sing_a{
    text-decoration: none;
    color:#FFFFFF;
}
.Sing__Inner{
    background-color: #8442D6;
    border-radius: 5px;
    padding: 10px 15px;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    border-radius: 4px;
}
.user{
    margin-right: 35px;
}
.moon{
    padding: 5px;
}
/*===================== Main Container ================*/
.maincontainer{
    height: 100%;
}
/*===================== Section upper ================*/
.section_upper{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 20%;
    padding-top: 50px;
}
.section_upper_top{
    width: 100%;
}
.section_upper_down{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.section_upper_top_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #272727;
}
.section_upper_down_left,.section_upper_down_right{
    text-align: center;
}
.section_upper_down_left_btm1,.section_upper_down_left_btm2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #8D8D8D;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 100px;
}
.section_upper_down_left_btm1:hover,.section_upper_down_left_btm2:hover{
    color: #FF8C00;
    border-bottom: 2px solid #FF8C00;
}
.section_upper_down_left_btm1{
    margin-right: 5px;
}
.section_upper_down_right{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #1C1C1C;
}
/*===================== Section lower ================*/
.section_lower{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    height: 80%;
    border-radius: 4px;
}
.section_lower_top{
    display: flex;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #8D8D8D;
    padding: 0;
    border-bottom: 1px solid #cccc;
    text-align: center;

}
.coin,.assets,.balance,.locked,.total,.value,.action{
    display: flex;
    align-items: center;
    height: 100%;
}
.coin{
    width: 5%;
}
.assets{
    width: 25%;
}
.balance{
    width: 12%;
    justify-content: right;
}
.locked{
    width: 12%;
    justify-content: right;
}
.total{
    width: 12%;
    justify-content: right;
}
.value{
    color: #FF8C00;
    width: 12%;
    justify-content: right;
}
.value_picture{
    margin-left: 6px;
}
.action{
    width: 18%;
    justify-content: center;
}