@media only screen and (max-width:843px) {
    .NFT {
        display: none !important;
    }

    .moon2 {
        display: none;
    }

    .logo_koillok {
        display: block !important;
        z-index: 99999;
    }

    .login {
        display: none !important;
    }

    .first_section_top_figures {
        display: none;
    }

    .first_section_top_text {
        width: 100% !important;
    }

    .first_section_top_title {
        font-weight: 600 !important;
        font-size: 26px !important;
        line-height: 145% !important;
    }

    .first_section_top {
        padding-left: 15px;
    }

    .first_step,
    .second_step,
    .third_step {
        margin-bottom: 40px;
    }

    .services_table_upper {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .services_table_lower {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .services_section_cashback{
        margin-bottom: 70px;
        display: flex;
        justify-content:space-between ;
    }
    .interface_picture_only{
        display: none;
    }
<<<<<<< Updated upstream
}
=======
    .interface_picture_only2{
        display: block !important;
        width: 359px;
        height: 258px;
        margin-top: 950px;
    }
}
>>>>>>> Stashed changes
