@media only screen and (max-width:535px){
    .moon2{
        display: none;
    }
    .NFT{
        display: none !important;
    }
    .logo_koillok{
        display: block !important;
    }
    .kol1,.checkbox {
        margin-left: 40px !important;
    }
    .label{
        display: flex;
        flex-direction: column;
    }
    .container_signin{
        padding-bottom: 42px !important;
    }
    .container{
        padding: 20px 15px !important;
    }
}
@media only screen and (max-width:750px){
    .footer_upper{
        display: none !important;
    }
    .footer_upper_adap{
        display: block !important;
    }
    .footer{
        padding-top:0 !important;
    }
    .containerz{
        padding-bottom: 200px !important;
    }
}