*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    transition: 1s;
}
/*==================HEADER===================*/
.logo__text{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size:21px;
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 35px;
    padding-right: 40px;
}
.header{
    margin: 0 auto;
    width: 100%;
}
.container__inner{
    display:flex;
    justify-content: space-between;
    height: 100%;
}
.rad{
    border-radius: 4px;
}
.login{
    display:flex;
}
.logo a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT{
    padding: 0 24px;
    font-family: 'Open Sans';
    width: 65px;
    color: #FFFFFf; 
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NFT1{
    margin-left: 140px;
    margin-right: 90px;
    text-align: center;
}
.header{
    user-select: none;
    background-color: #1F1728;
    
}
/*DARKMODE*/

/*=====================LOGIN================*/

.moon{
    padding: 5px;
}
.container_2{
    background-color: #191023;
    display: flex;
    justify-content: center;

}
.tex1{
    font-weight: 600;
    font-size: 32px;
    margin-top: 80px;
    color:#FFFFFF;
}
.tex{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.tex2{
    color: #B7BDC6;
    font-size: 18px;
    margin-top: 10px;
    line-height:-10px;
}
.enter{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color:#272727;
}
.enter2{
    color:#7C838E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.containerz {
    padding: 16px;
    max-width: 470px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #A7A7A7;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
         background-color: #ddd;
         outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #8442D6;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid #8442D6;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
    margin-bottom: 50px;
}
.Sog{
    color: #7C838E;
    text-decoration: none;
}
.agree{
    color: #7C838E;
    text-decoration: none;
    font-size: 14px;
}

.ter{
    color:#8442D6;
}
.cheak{
    -webkit-appearance: none;
    position:absolute;
    -moz-appearance: none;
    appearance: none;
}
.Form__text{
    text-align: left;
    color:#5E5E5E;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.Form{
    position: relative;
}
.checkbox{
    user-select: none;
    margin-left:72px;
    max-width: 340px;
    width: 100%;
    
}
.kol1{
    margin:38px 72px;
}
.label{
    position: relative;
}
input[type="checkbox"]{
    display: none;
}
.chexbox__inner{
    display: flex;
}
.label::before{
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #5E5E5E;
    vertical-align: middle;
    margin-left: -38px;
    margin-right: 30px;
    border-radius: 4px;
    position: absolute;
}
input[type="checkbox"]:checked + .label::before{
    content: url('');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../object/IMG/Agree.svg');
    background-color: #8442D6;
    position: absolute;
}
.Ter{
    color:#8442D6;
    text-decoration: none;
}
.password__label{
    position: relative;
}
.password__btn{
    position: absolute;
    right: 15px;
    bottom:32%;
}
/*================== Footer ===================*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #000000;
}
.footer{
    width: 100%;
    max-width: 1240px;
    padding-top: 100px;
    
    
}
ul{
    list-style: none;
}
.footer_upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_section h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8442D6;
    margin-bottom: 15px;
}
.footer_section ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer_section ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #AAAAAA;
}
.second_h{
    margin-top: 10px;
}
.footer_lower{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.footer_lower:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #8442D6;
    height: 1px;
    width: 100%;
}
.footer_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8442D6;
    padding: 20px 0;
    background-color: #8442D6;
}